<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="container">
            <div class="profile">
              <img class="avatar" src="/author/images/Profile.svg" alt="" />
              <div class="name"><%=user.name%></div>
              <div class="profession"><%=user.profession%></div>
              <div class="icons">
                <div class="icon">
                  <a href="https://www.facebook.com/sarvarbek.saydaliyev.14">
                    <i class="fa-brands fa-facebook-f"></i
                  ></a>
                </div>
                <div class="icon">
                  <a href=""> <i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="icon">
                  <a href=""> <i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="icon">
                  <a href=""> <i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <div class="icon">
                  <a href=""> <i class="fa-brands fa-youtube"></i></a>
                </div>
                <div class="icon">
                  <a href=""> <i class="fa-brands fa-dribbble"></i></a>
                </div>
              </div>
            </div>
            <div class="margener"></div>
            <div class="personal_info">
              <div class="line">
                <div class="main_caetegory">Age:</div>
                <div class="info"><%=user.age%></div>
              </div>
              <div class="line">
                <div class="main_caetegory">Residence:</div>
                <div class="info"><%=user.residence%></div>
              </div>
              <div class="line">
                <div class="main_caetegory">Freelance:</div>
                <div class="info" style="color: rgb(126, 185, 66)">
                  Available
                </div>
              </div>
              <div class="line">
                <div class="main_caetegory">Address:</div>
                <div class="info"><%=user.address%></div>
              </div>
            </div>
            <div class="margener"></div>
            <div class="languages">
              <strong>Languages</strong>
              <div class="langs">
                <div class="lan">
                  <div>Bangla</div>
                  <p>100%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 217px"></div>
                </div>
              </div>
              <div class="langs">
                <div class="lan">
                  <div>English</div>
                  <p>80%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 208px"></div>
                </div>
              </div>
              <div class="langs">
                <div class="lan">
                  <div>Spanish</div>
                  <p>60%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 190px"></div>
                </div>
              </div>
            </div>
            <div class="margener"></div>
            <div class="languages">
              <strong>Skills</strong>
              <div class="langs">
                <div class="lan">
                  <div>HTML</div>
                  <p>90%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 209px"></div>
                </div>
              </div>
              <div class="langs">
                <div class="lan">
                  <div>CSS</div>
                  <p>85%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 207px"></div>
                </div>
              </div>
              <div class="langs">
                <div class="lan">
                  <div>Js</div>
                  <p>80%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 201px"></div>
                </div>
              </div>
              <div class="langs">
                <div class="lan">
                  <div>PHP</div>
                  <p>75%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 187px"></div>
                </div>
              </div>
              <div class="langs">
                <div class="lan">
                  <div>WordPress</div>
                  <p>85%</p>
                </div>
                <div class="percent">
                  <div class="percent_degree" style="width: 207px"></div>
                </div>
              </div>
            </div>
            <div class="margener"></div>

            <div class="extra_skills">
              <strong>Extra Skills</strong>
              <div class="skill">
                <img src="/author/icon/Icons.svg" alt="" />
                <p>Bootstrap, Materialize</p>
              </div>
              <div class="skill">
                <img src="/author/icon/Icons.svg" alt="" />
                <p>Styling, Sass, Less</p>
              </div>
              <div class="skill">
                <img src="/author/icon/Icons.svg" alt="" />
                <p>Django, Flask</p>
              </div>
              <div class="skill">
                <img src="/author/icon/Icons.svg" alt="" />
                <p>GIT Knowledge</p>
              </div>
            </div>
            <div class="margener"></div>
            <button class="cv_download">
              Download cv <img src="/author/icon/Vector (1).svg" alt="" />
            </button>
          </div>
        </div>

        <div class="midd_frame"></div>

        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
